# CSW Federated Source Configuration Template
service.factoryPid=Csw_Federated_Source
id={{SOURCE_NAME}}
cswUrl={{SOURCE_URL}}
{{#if USERNAME}}
username={{USERNAME}}
{{/if}}
{{#if PASSWORD}}
password={{PASSWORD}}
{{/if}}
pollInterval=5
connectionTimeout=30000
receiveTimeout=60000
outputSchema=http://www.opengis.net/cat/csw/2.0.2
queryTypeName=csw:Record
queryTypeNamespace=http://www.opengis.net/cat/csw/2.0.2
isCqlForced=false
forceSpatialFilter=NO_FILTER
disableCnCheck=false
coordinateOrder=LON_LAT
